
.lwy {
	width: 90px;
	height: 50px;
	background: url('../images/lions_backs.png') no-repeat;
}

@keyframes bieg_lwa {
	0% {
		background-position: 0 0;
	}
	100% {
		background-position: 0 -700px;
	}
}

#lew_pierwszy {
	animation: bieg_lwa 1s steps(14) infinite;

}
