* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.lwy {
	width: 90px;
	height: 50px;
	background: url('../images/lions_backs.png') no-repeat;
}

@keyframes bieg_lwa {
	0% {
		background-position: 0 0;
	}
	100% {
		background-position: 0 -700px;
	}
}

@keyframes droga_lew-1 {
	0% {
		transform: translateX(0) scale(1);
	}
	100% {
		transform: translateX(300px) scale(.1);
	}
}
@keyframes droga_lew-2 {
	0% {
		transform: rotateX(180deg) translateX(0) translateY(0) scale(1);
	}
	100% {
		transform: rotateX(180deg) translateX(300px) translateY(45px) scale(.1);
	}
}

#lew_pierwszy {
	animation: bieg_lwa 1s steps(14) infinite, droga_lew-1 10s infinite alternate;

}

#lew_drugi {
	animation: bieg_lwa 1s steps(14) infinite, droga_lew-2 10s infinite alternate;
	opacity: .1;
}
.container {
	border: 1px solid red;
	text-align: center;
}
.container:before, .container:after {
	display: table;
	content: '';
	clear: both;
}

.image {
	width: 100px;
	height: 100px;
	background: url('../images/sprite.png') no-repeat;
	display: inline-block;
	vertical-align: middle;
	border: 1px solid red;

}
h1 {
	display: inline-block;
	font-size: 4rem;
	vertical-align: middle;
	border: 1px solid red;

}
